<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Bienvenidos al portal de servicios civicos</h1>

    <nav style="width: 100%; background-color: black;border-radius: 10px; height: 60px; display: flex; align-items: center;">
        <ul style="width: 100%; display: flex; justify-content: space-around; list-style: none; height: 40px; align-items: center;">
            <li><a href="/reportes" style="text-decoration: none; color: white;">Reportes ciudadanos</a></li>
            <li><a href="/aire" style="text-decoration: none; color: white;">Calidad del aire</a></li>
            <li><a href="/censo" style="text-decoration: none; color: white;">Censo comunitario</a></li>
            <li><a href="/educacion" style="text-decoration: none; color: white;">Educuacion</a></li>
            <li><a href="/movilidad" style="text-decoration: none; color: white;">Movilidad urbana</a></li>
        </ul>
    </nav>
    <br>

    <section style="text-align: center; background-image: url(https://wallpaperaccess.com/full/3231246.png); border-radius: 15px;">
        
        <h2 style="color: white;">Servicios disponibles</h2>

        <p style="color: white;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum beatae repellendus</p>
        <img src="https://wallpaperaccess.com/full/3231246.png" alt="" style="width: 50%; border-radius: 10px;">
    </section>

    <footer style="text-align: center;">
        <p>2025 Portal ciudadano: Todos los derechos reservados. Creado por <strong>Juan andres menendez</strong></p>
        <p></p>
    </footer>
</body>
</html>